

<style>
    /* The sidepanel menu */
    .sidepanel {
        height: 100vh; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 9999; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #fff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
        box-shadow: 0 10px 15px rgba(41, 43, 48, 0.2);
    }

    .dark-mode .sidepanel {
        background-color: #272c31;
        box-shadow: 0 10px 15px rgb(89 90 93 / 20%)
        /*border-color: #343a40;*/
    }

    /* The sidepanel links */
    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidepanel a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 20px;
        margin-left: 50px;
    }

    .sidepanel .savebtn {
        position: absolute;
        top: 10px;
        font-size: 20px;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }

        .openbtn:hover {
            background-color: #444;
        }

    .dashbaordStatsItems {
        background: #f8f9fa;
    }

    .dark-mode .dashbaordStatsItems {
        background: #343a40;
    }

    .dashbaordCrewItems {
        min-height: 120px;
    }

    .currency_state .icon img {
        width: 30px;
    }

    .icon-container.avatar-offline::before, .icon-container.avatar-online::before {
        top: 7px;
    }

    .card {
        border-radius: 0px;
    }

    .dashboardIcon {
        width: 150px;
    }

    @@media (min-width: 1200px) {
        .col-xl-2 {
            max-width: 14%;
        }
    }

    .dashboard-panel-header {
        padding: 3px 15px;
        border-bottom-color: #f8f9fa;
    }

    .dark-mode .dashboard-panel-header {
        border-bottom-color: #343a40 !important;
    }
</style>


<div class="section-body">
    <div class="container-fluid" ui-view="">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="mb-4">
                    <h4>Welcome @ViewData["FirstName"] @ViewData["LastName"]!</h4>
                    @*<small>Measure How Fast You’re Growing Monthly Recurring Revenue. <a href="#">Learn More</a></small>*@
                </div>
            </div>
        </div>
        <div class="row clearfix" style="max-width:1300px;">
            <div ng-click="goToAnnouncementProfile(announcement.ProjectId,announcement.Id)" class="announcement border-radius-10 cursor-pointer card h-75 col-sm-12 col-md-6 box-radius-10 col-lg-4 mb-3" ng-repeat="announcement in announcements" style="height:160px !important">
                <div class="row">
                    <div class="col-10">
                        <div class="card p-2 bg-none mb-0">
                            <div class="card-header p-0">
                                <div class="row mb-2">
                                    <div class="dashbaordStatsItems col-9 text-break" style="border-right:5px solid {{announcement.ProjectColor}} !important;">
                                        <label class="m-1">{{announcement.ProjectName}}</label>
                                    </div>
                                    <div class="col-3">
                                        <label>Announcement</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="card-title font-weight-bolder mb-2 h5" title="{{announcement.Title}}" data-toggle="tooltip" data-placement="top" tooltip>
                                    {{announcement.Title}}
                                </div>
                                <p class="h6 mb-3 mt-3">
                                    {{announcement.UserName}}
                                </p>
                                <p class="text-nowrap no-overflow overflow-ellipsis" title="{{announcement.Message}}" data-toggle="tooltip" data-placement="top" tooltip>
                                    {{announcement.Message}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 mt-30">
                        <img src="~/icons/ANNOUNCEMENTS.svg" class="icon-svg" height="84" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="max-width:1300px;">
            <div class="col-6 col-md-4 col-xl-2">
                <div class="card dashboardIcon">
                    <div class="card-body">
                        <div>
                            <a ui-sref="crew({id:{{projectId}}})" class="my_sort_cut text-muted">
                                <img class="icon-svg" src="~/icons/CREW.svg" height="50" />
                                <span class="font-14">Crew</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="card dashboardIcon">
                    <div class="card-body">
                        <div>
                            <a ui-sref="documents({id:{{projectId}}})" class="my_sort_cut text-muted">
                                <img class="icon-svg" src="~/icons/FILESDOCUMENTS.svg" height="50" />
                                <span class="font-14">Doc & Files</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="card dashboardIcon">
                    <div class="card-body">
                        <div>
                            <a ui-sref="tasks.mytasks({id:{{projectId}}})" class="my_sort_cut text-muted">
                                <img class="icon-svg" src="~/icons/TASKS.svg" height="50" />
                                <span class="font-14">Tasks</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="card dashboardIcon">
                    <div class="card-body">
                        <div>
                            <a ui-sref="calendar({id:{{projectId}}})" class="my_sort_cut text-muted">
                                <img class="icon-svg" src="~/icons/CALENDAR.svg" height="50" />
                                <span class="font-14">Calendar</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="card dashboardIcon">
                    <div class="card-body">
                        <div>
                            <a ui-sref="" class="my_sort_cut text-muted">
                                <img class="icon-svg" src="~/icons/PRODUCTIONCALENDAR.svg" height="50" />
                                <span class="font-14">Prod Calendar</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="card dashboardIcon">
                    <div class="card-body">
                        <div>
                            <a href="javascript:void(0)" class="my_sort_cut text-muted">
                                <img class="icon-svg" src="~/menu-icons/SETTINGS.svg" height="50" />
                                <span class="font-14">Setting</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="card dashboardIcon">
                    <div class="card-body">
                        <div>
                            <a href="javascript:void(0)" class="menu-icon-right" ng-click="savePanelSettings()"
                               title="Save Dashboard settings" ng-if="dashboardNeedSave">
                                <i class="fe fe-save text-green"></i>
                            </a>
                            <a href="javascript:void(0)" class="my_sort_cut text-muted" ng-click="showSidePanel = !showSidePanel">
                                <img class="icon-svg" src="~/menu-icons/DASHBOARDOPTIONS.svg" height="50" />
                                <span class="font-14">Dashboard</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" ng-if="false">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="section-body p-2">
                    <div class="card-header p-2">
                        <div class="card-title">
                            My Projects
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row advancedDemo" ng-if="true">
            <div class="dropzone w-100">
                <ul dnd-list="userDashbaordPanels.items"
                    dnd-allowed-types="['item']"
                    dnd-horizontal-list="true"
                    dnd-external-sources="true"
                    dnd-effect-allowed="{{userDashbaordPanels.effectAllowed}}"
                    dnd-dragover="dragoverCallback(index, external, type)"
                    dnd-drop="dropCallback(index, item, external, type)"
                    dnd-inserted="logListEvent('inserted at', index, external, type)"
                    class="itemlist">
                    <li ng-repeat="item in userDashbaordPanels.items"
                        dnd-draggable="item"
                        dnd-type="'item'"
                        dnd-effect-allowed="{{item.effectAllowed}}"
                        dnd-dragstart="logEvent('Started to drag an item')"
                        dnd-moved="userDashbaordPanels.items.splice($index, 1)"
                        dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)">
                        <div class="card">
                            <div class="card-header dashboard-panel-header border-bottom">
                                <h3 class="card-title">{{item.label}}</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0)" class="card-options-remove" ng-click="deleteMeFromList($index)"
                                       data-toggle="card-remove">
                                        <i class="fe fe-x"></i>
                                    </a>
                                </div>
                            </div>
                            @* myProjects *@
                            <div class="card-body" style="height: 300px;overflow-y: auto;"
                                 ng-if="item.id == 'myProjects'">
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button class="btn btn-primary" role="button" ui-sref="createnewproject({newProject:'Y'})">
                                            Create New Project <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <ul class="right_chat list-unstyled">
                                    <li class="card p-0" ng-repeat="project in projectsListForMenu"
                                        ng-style="{'border-left':'5px solid '+project.Project.Color}">
                                        <div class="card-header p-2" href="javascript:void(0);">
                                            <a class="card-title w-100" href="javascript:void(0)" ng-click="goToProductionModule(project.Project.Id)">{{project.Project.Name}}</a>
                                            <span class="label text-right text-green small" ng-if="projectId==project.Project.Id">Running</span>
                                            <div class="card-options">
                                                <div class="item-action dropdown ml-2">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; transform: translate3d(-174px, -161px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <a href="javascript:void(0)" class="dropdown-item" ng-click="DeleteProject(project.Project.Id)"><i class="dropdown-icon fa fa-trash"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            @* myCreatedTasks *@
                            <div class="card-body" style="height: 300px;overflow-y: auto;"
                                 ng-if="item.id == 'myCreatedTasks'">
                                <div class="card-title text-center" ng-if="myCreatedtasks.length==0">
                                    <label class="h6 text-muted">
                                        You have no task created yet.
                                    </label>
                                </div>
                                <div class="row clearfix" ng-if="myCreatedtasks.length>0">
                                    <div class="col-sm-12">
                                        <div class="card task dashbaordStatsItems box-shadow mb-2 {{task.ClassName}}"
                                             ng-repeat="task in myCreatedtasks"
                                             style="border-radius: .55rem;">
                                            <div class="row clearfix p-0 ml-2">
                                                <div class="col-1 p-0 mt-3 mb-3 tasks_status_symbol">
                                                    <a class="symbol" href="javascript:void(0)" ng-click="changeTaskStatus($event,task)" title="{{task.ClassName=='completed' ? 'Mark task as in progress again' : task.ClassName == 'overdue' || task.ClassName == 'pending' ? 'Mark task as completed' : ''}}">
                                                        <i class="{{task.Completed?'fa fa-check-circle':'fa fa-circle-thin'}} font-15"></i>
                                                    </a>
                                                </div>
                                                <div class="col-3 text-left mt-3 mb-3 font-10 cursor-pointer"
                                                     ui-sref="tasks.mytasks.taskprofile({'id': {{task.ProjectId}}, 'taskId': {{task.Id}}})">
                                                    {{task.Title}}
                                                    <p ng-if="task.SubTasks.length>0">
                                                        <small>{{(task.SubTasks | filter:{Completed:true}).length}} of {{task.SubTasks.length}} subtasks have been completed</small>
                                                    </p>
                                                </div>
                                                <div class="col-2 mt-3 mb-3 font-10">
                                                    <div ng-if="task.HasDeadline">
                                                        <small class="mb-1">Deadline</small>
                                                        <br />
                                                        {{task.Deadline}}
                                                    </div>
                                                </div>
                                                <div class="col-3 mt-3 mb-3 font-10">
                                                    <small class="mb-1">Assigned to</small>
                                                    <br />
                                                    <ul class="list-unstyled team-info sm margin-0   overflow-hidden text-nowrap">
                                                        <li>
                                                            <img ng-repeat="assignedTo in task.AssignedTo" style="width:25px; height:25px"
                                                                 data-toggle="tooltip" data-placement="top" tooltip title="{{assignedTo.name}}"
                                                                 ng-src="{{assignedTo.Type=='user'?'/api/UserProfiles/GetUserPhoto/'+assignedTo.id+'/15/15':assignedTo.icon}}" alt="Avatar">
                                                            @*<img ng-if="assignedTo.Type!='user'" style="width:15px; height:15px" src="{{assignedTo.icon}}" alt="Avatar">*@
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-2 p-0 mt-3 mb-3 font-10">
                                                    <small class="mb-1">Status</small>
                                                    <br />
                                                    <div class="p-0">{{task.ClassName}}</div>
                                                </div>
                                                <div class="col-1 text-right">
                                                    <div class="item-action dropdown mt-3 mb-3">
                                                        <a href="javascript:void(0)" data-toggle="dropdown" ng-click="$event.originalEvent.dropdown = true" class="icon font-20" aria-expanded="false">
                                                            <i class="fe fe-more-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; transform: translate3d(-178px, -285px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a href="javascript:void(0)" 
                                                               confirmed-click="deleteTask($event, task)" 
                                                               ng-confirm-title="Delete Task?" 
                                                               ng-confirm-click="Would you like to delete this task? This cannot be undone!" class="dropdown-item">
                                                                <i class="dropdown-icon fa fa-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* myTasks *@
                            <div class="card-body" style="height: 300px;overflow-y: auto;"
                                 ng-if="item.id == 'myTasks'">
                                <div class="card-title text-center" ng-if="mytasks.length==0">
                                    <label class="h6 text-muted">
                                        No task is assigned to you yet.
                                    </label>
                                </div>
                                <div class="row clearfix" ng-if="mytasks.length>0">
                                    <div class="col-sm-12">
                                        <div class="card task dashbaordStatsItems box-shadow mb-2 {{task.ClassName}}"
                                             ng-repeat="task in mytasks"
                                             style="border-radius: .55rem;">
                                            <div class="row clearfix p-0 ml-2">
                                                <div class="col-1 p-0 mt-3 mb-3 tasks_status_symbol">
                                                    <a class="symbol" href="javascript:void(0)" ng-click="changeTaskStatus($event,task)" data-toggle="tooltip" data-placement="top" tooltip title="{{task.ClassName=='completed' ? 'Mark task as in progress again' : task.ClassName == 'overdue' || task.ClassName == 'pending' ? 'Mark task as completed' : ''}}">
                                                        <i class="{{task.Completed?'fa fa-check-circle':'fa fa-circle-thin'}} font-15"></i>
                                                    </a>
                                                </div>
                                                <div class="col-3 text-left mt-3 mb-3 font-10 cursor-pointer"
                                                     ui-sref="tasks.mytasks.taskprofile({'id': {{task.ProjectId}}, 'taskId': {{task.Id}}})">
                                                    {{task.Title}}
                                                    <p ng-if="task.SubTasks.length>0">
                                                        <small>{{(task.SubTasks | filter:{Completed:true}).length}} of {{task.SubTasks.length}} subtasks have been completed</small>
                                                    </p>
                                                </div>
                                                <div class="col-2 mt-3 mb-3 font-10">
                                                    <div ng-if="task.HasDeadline">
                                                        <small class="mb-1">Deadline</small>
                                                        <br />
                                                        {{task.Deadline}}
                                                    </div>
                                                </div>
                                                <div class="col-3 mt-3 mb-3 font-10">
                                                    <small class="mb-1">Assigned to</small>
                                                    <br />
                                                    <ul class="list-unstyled team-info sm margin-0   overflow-hidden text-nowrap">
                                                        <li>
                                                            <img ng-repeat="assignedTo in task.AssignedTo" style="width:25px; height:25px"
                                                                 data-toggle="tooltip" data-placement="top" tooltip title="{{assignedTo.name}}"
                                                                 ng-src="{{assignedTo.Type=='user'?'/api/UserProfiles/GetUserPhoto/'+assignedTo.id+'/15/15':assignedTo.icon}}" alt="Avatar">
                                                            @*<img ng-if="assignedTo.Type!='user'" style="width:15px; height:15px" src="{{assignedTo.icon}}" alt="Avatar">*@
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-2 mt-3 mb-3 p-0 font-10">
                                                    <small class="mb-1">Status</small>
                                                    <br />
                                                    <div class="p-0">{{task.ClassName}}</div>
                                                </div>
                                                <div class="col-1 text-right">
                                                    <div class="item-action dropdown mt-3 mb-3">
                                                        <a href="javascript:void(0)" data-toggle="dropdown" ng-click="$event.originalEvent.dropdown = true" class="icon font-20" aria-expanded="false">
                                                            <i class="fe fe-more-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; transform: translate3d(-178px, -285px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a href="javascript:void(0)" confirmed-click="deleteTask($event, task)" ng-confirm-title="Delete Task" ng-confirm-click="Would you like to delete this task?" class="dropdown-item">
                                                                <i class="dropdown-icon fa fa-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* stats *@
                            <div class="card-body" style="height: 300px;overflow-y: auto;"
                                 ng-if="item.id == 'stats'">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card dashbaordStatsItems">
                                            <div class="card-body p-3 currency_state">
                                                <div class="icon mr-2"><img class="icon-svg" src="~/icons/shuttle.svg" alt="Stellar"></div>
                                                <div class="content text-center">
                                                    <h5 class="number">{{dashboardStats.activeProjectsCount}}</h5>
                                                    <div class="text font-12">Active Projects</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card dashbaordStatsItems">
                                            <div class="card-body p-3 currency_state">
                                                <div class="icon mr-2"><img class="icon-svg" src="~/icons/time-check.svg" alt="Stellar"></div>
                                                <div class="content text-center">
                                                    <h5 class="number">{{dashboardStats.overDueTasks}}</h5>
                                                    <div class="text font-12">Over Due Tasks</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card dashbaordStatsItems">
                                            <div class="card-body p-3 currency_state">
                                                <div class="icon mr-2"><img class="icon-svg" src="~/icons/to-do-list.svg" alt="Stellar"></div>
                                                <div class="content text-center">
                                                    <h5 class="number">{{dashboardStats.completedTasks}}</h5>
                                                    <div class="text font-12">Completed Tasks</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card dashbaordStatsItems">
                                            <div class="card-body p-3 currency_state">
                                                <div class="icon mr-2"><img class="icon-svg" src="~/icons/list.svg" alt="Stellar"></div>
                                                <div class="content text-center">
                                                    <h5 class="number">{{dashboardStats.activeTasks}}</h5>
                                                    <div class="text font-12">Active Tasks</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card dashbaordStatsItems">
                                            <div class="card-body p-3 currency_state">
                                                <div class="icon mr-2"><img class="icon-svg" src="~/icons/user.svg" alt="Stellar"></div>
                                                <div class="content text-center">
                                                    <h5 class="number">{{dashboardStats.activeCrew}}</h5>
                                                    <div class="text font-12">Active Crew</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* crewCommunication *@
                            <div class="card-body" style="height: 300px;overflow-y: auto;"
                                 ng-if="item.id == 'crewCommunication'">
                                <div class="row">
                                    <div class="col-4" ng-repeat="c in $parent.Top5Messages | toArray:false | orderBy: 'When':false">
                                        <div class="card dashbaordStatsItems dashbaordCrewItems cursor-pointer"
                                             ng-click="$parent.openFromTop(c.UserId)">
                                            <div class="card-body p-2">
                                                <div class="icon-container {{c.Online?'avatar-online':'avatar-offline'}} m-auto d-block {{c.UserId}}">
                                                    <span class="status-circle"></span>
                                                </div>
                                                <div class="text-center">
                                                    <img class="avatar avatar-xl mb-3" ng-src="/api/UserProfiles/GetUserPhoto/{{c.UserId}}/150/150" alt="avatar">
                                                    <div class="media-body">
                                                        <h6 class="m-0 font-13" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                            {{c.Name}}
                                                        </h6>
                                                        @*<p class="text-muted mb-0 font-12">Webdeveloper</p>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card dashbaordStatsItems dashbaordCrewItems cursor-pointer"
                                             ui-sref="messages">
                                            <div class="card-body p-2">
                                                <div class="text-center mt-3">
                                                    @*<img class="avatar avatar-xl mb-3" ng-src="/api/UserProfiles/GetUserPhoto/{{c.UserId}}/50/50" alt="avatar">*@
                                                    <i class="fa fa-arrow-right mb-3 fa-2x"></i>
                                                    <div class="media-body">
                                                        <h6 class="m-0 font-13">View All</h6>
                                                        @*<p class="text-muted mb-0 font-12">Webdeveloper</p>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" ng-if="false">
            <div class="col-12">
                <pre>
{{modelAsJson}}
</pre>
            </div>
        </div>
    </div>
    <div id="overviewSidepanel" class="sidepanel" ng-style="{'width':showSidePanel?'250px':'0'}">
        <a href="javascript:void(0)" class="savebtn text-success" ng-if="dashboardNeedSave"
           ng-click="savePanelSettings()">
            <i class="fa fa-save"></i> Save
        </a>
        <a href="javascript:void(0)" class="closebtn text-danger" ng-click="showSidePanel = !showSidePanel">
            <i class="fa fa-times"></i>
        </a>
        <hr />
        <div class="card">
            <div class="card-body p-1">
                <div class="media">
                    <img class="icon-svg" src="~/menu-icons/DASHBOARDOPTIONS.svg" height="50" />
                    <div class="media-body">
                        <h5 class="m-0">Dashboard</h5>
                        <p class="text-muted mb-0 font-12">Here you can drag & drop panels you want to see on your dashboard</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropzone ">
            <ul dnd-list="dashbaordPanels.items"
                dnd-allowed-types="['item']"
                dnd-horizontal-list="true"
                dnd-external-sources="true"
                dnd-effect-allowed="{{dashbaordPanels.effectAllowed}}"
                dnd-dragover="dragoverCallback(index, external, type)"
                dnd-drop="dropCallback(index, item, external, type)"
                dnd-inserted="logListEvent('inserted at', index, external, type)"
                class="itemlist">
                <li ng-repeat="item in dashbaordPanels.items"
                    dnd-draggable="item"
                    dnd-type="'item'"
                    dnd-effect-allowed="{{item.effectAllowed}}"
                    dnd-dragstart="logEvent('Started to drag an item')"
                    dnd-moved="dashbaordPanels.items.splice($index, 1)"
                    dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)"
                    class="sideListItem">
                    {{item.label}}
                </li>
            </ul>
        </div>
    </div>
</div>



@section Scripts{
}