@page
@model Elegium.Areas.Identity.Pages.Account.AccountBanned
@{
    ViewData["Title"] = "You are banned!";
}

<div class="auth_left">
    <div class="card">
        <div class="card-body">
            @*<div class="display-3 text-muted mb-5"><i class="si si-exclamation"></i> Confirm your account</div>*@
            <h1 class="h3 mb-3">Account Banned!</h1>
            <p class="h6 text-muted font-weight-normal mb-3">You account is banned for violating terms and conditions! Please contact admin.</p>
            <a class="btn btn-primary" asp-page="./Login"><i class="fe fe-arrow-left mr-2"></i>Goto Login</a>
        </div>
    </div>
</div>
<div class="auth_right">
    <div class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/theme/assets/images/slider1.svg" class="img-fluid" alt="login page">
                <div class="px-4 mt-4">
                    <h4>Fully Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/theme/assets/images/slider2.svg" class="img-fluid" alt="login page">
                <div class="px-4 mt-4">
                    <h4>Quality Code and Easy Customizability</h4>
                    <p>There are many variations of passages of Lorem Ipsum available.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/theme/assets/images/slider3.svg" class="img-fluid" alt="login page">
                <div class="px-4 mt-4">
                    <h4>Powerful Production Management Software</h4>
                    <p>Elegium is designed for every type of audio visual production</p>
                </div>
            </div>
        </div>
    </div>
</div>
