@{
    ViewData["Title"] = "Home Page";
}

<div class="section-body" style="max-width:1300px;" ui-view1="">
    <div class="card-body p-0 m-0 text-center">
        <div class="spinner-border text-center" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

