
@{
    ViewData["Title"] = "Offer funding";
    Layout = null;
}


<div class="section-body" ng-controller="OfferFundingCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Offer Funding & FP</h3>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button type="button" class="btn btn-secondary" ng-click="openPreferences()">
                                        <i class="fa fa-cog mr-2"></i> Your Preferences
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2" ng-show="projectsList.length>0">
            <div class="col-md-12 col-sm-12">
                <input type="text" class="form-control" placeholder="Search public projects..." ng-model="projectQuery">
            </div>
            <div class="col-md-2 col-sm-12 text-right">
                @*<button type="button" class="btn btn-secondary" ng-click="openFilters()">
                        <i class="fe fe-filter mr-2"></i> Filters
                    </button>*@
            </div>

        </div>

        <div class="col-sm-12 text-center p-5" ng-if="projectsList.length==0">
            <h5 class="text-secondary">
                <i class="fa fa-times-circle"></i> You have no Funding & FP published yet.
            </h5>
        </div>

        <br />

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-3  col-xxxl-2 mb-3" ng-repeat="project in projectsList | filter:projectQuery">


                <div class="card project-cover" style="background-image:url('/api/Projects/GetProjectCover/{{project.Project.Id}}/500/200'); height:235px; cursor:pointer;" ng-style="{'border-left':'5px solid '+project.Project.Color}">
                    <div class="card-body p-0" ng-if="!project.ShowDetail && !project.ShowProfile" ng-click="$event.stopPropagation()">
                        <div class="row h-100">
                            <div class="col-6" style="margin-left: -1px; cursor:default">
                                <div class="card m-0 h-100" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px; height:200px;">
                                    <div class="card-body p-0">
                                        <div class="row pl-2 pt-1">
                                            <div class="col-12">
                                                <p class="font-18 m-0 text-info no-overflow" style="font-weight:500;" title="{{project.Project.Name}}" data-toggle="tooltip" data-placement="right" tooltip>
                                                    <a ui-sref="publicprojectdetail({projectId:'{{project.Project.Id}}'})" class="link-unstyled">
                                                        {{project.Project.Name}}
                                                    </a>
                                                </p>
                                                <p class="font-13 m-0 no-overflow" title="{{project.Project.ProductionType.Name}}" data-toggle="tooltip" data-placement="right" tooltip>
                                                    {{project.Project.ProductionType.Name}}
                                                </p>
                                                <p class="font-10 pt-3">
                                                    <i class="fa fa-calendar"></i> {{project.Project.CreatedDateTime | date:"MMM dd, yyyy"}}
                                                </p>
                                                <div class="font-11">
                                                    <p class="pt-3">
                                                        Project Budget is
                                                        <span class="text-info">{{project.ProjectPartnerRequirement.Budget}} {{project.Project.Currency.Symbol}}</span>
                                                    </p>
                                                </div>
                                                <div class="font-11" ng-if="showProjectOwnerLooking(project)">
                                                    <p class="">Project owner is looking for:</p>
                                                    <p class="m-0" ng-if="project.ProjectPartners.length>0">
                                                        <i class="fa fa-check-circle text-info"></i> Project Partner
                                                    </p>
                                                    <p class="m-0" ng-if="project.ProjectPartnerRequirement.NeedFinancialParticipation">
                                                        <i class="fa fa-check-circle text-info"></i> Financial Participator
                                                    </p>
                                                    <p class="m-0" ng-if="!project.ProjectPartnerRequirement.NeedFinancialParticipation && project.ProjectFunding.Amount">
                                                        <i class="fa fa-check-circle text-info"></i> Funding
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 text-right" ng-click="openProjectDetail(project.Project.Id)">
                                <div class="row pr-2 pt-2">
                                    <div class="col-12">
                                        <span class="material-icons text-white" style="cursor:pointer;"
                                              title="Click to see more info" data-toggle="tooltip" data-placement="left" tooltip
                                              ng-click="project.ShowDetail = !project.ShowDetail">
                                            info
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <span class="material-icons text-white" style="cursor:pointer;"
                                              title="See project owner" data-toggle="tooltip" data-placement="left" tooltip
                                              ng-click="project.ShowProfile = !project.ShowProfile">
                                            person
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <a ui-sref="publicprojectdetail({projectId:'{{project.Project.Id}}'})"
                                           title="Goto project page" data-toggle="tooltip" data-placement="left" tooltip>
                                            <span class="material-icons text-white">
                                                pageview
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12" ng-if="project.Project.IsItMe=='N'">
                                        <a href="javascript:void(0)" ng-click="sendRequest(project, $event)"
                                           title="Send Offer" data-toggle="tooltip" data-placement="left" tooltip>
                                            <span class="material-icons text-white">
                                                money
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0" ng-if="project.ShowDetail && !project.ShowProfile">
                        <div class="card m-0 h-100">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="m-3">
                                            {{project.Project.Detail | limitTo:200 }}{{ project.Project.Detail.length > 200 ? '...' : ''}}
                                        </p>
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="row pr-2 pt-2">
                                            <div class="col-sm-12">
                                                <span class="material-icons" style="cursor:pointer;"
                                                      title="Close this"
                                                      ng-click="project.ShowDetail = !project.ShowDetail">
                                                    close
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0" ng-if="project.ShowProfile">
                        <div class="card m-0 h-100">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-5 text-center pt-3">
                                        <div class="row">
                                            <div class="col-12" ng-click="openUserDetail(project.ProjectOwner.UserId)">
                                                <ul class="list-unstyled team-info team-info-pin">
                                                    <li style="transform: translateY(0px); z-index: 999;">
                                                        <img ng-src="/api/UserProfiles/GetUserPhoto/{{project.ProjectOwner.UserId}}/150/150" alt="Avatar">
                                                    </li>
                                                    <li>
                                                        <img ng-src="/api/UserProfiles/GetUserCompanyPhoto/{{project.ProjectOwner.UserId}}/150/150"
                                                             style="border:none;" alt="Avatar">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 text-left pl-3 pt-3">
                                                <p class="m-0 font-12 no-overflow" style="font-weight:500">
                                                    {{project.ProjectOwner.CompanyName}}
                                                </p>
                                                <p class="m-0 font-10 text-info  no-overflow">
                                                    {{project.ProjectOwner.CompanyPosition.Name}}
                                                </p>
                                                <p class="m-0 font-10  no-overflow">
                                                    <i class="fa fa-map-marker"></i>
                                                    <span ng-if="project.ProjectOwner.CompanyCountry">
                                                        {{project.ProjectOwner.CompanyCountry.Name}}
                                                    </span>
                                                    <span ng-if="project.ProjectOwner.CompanyCity">
                                                        {{project.ProjectOwner.CompanyCity.Name}}
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5 pt-3">
                                        <div class="row font-10">
                                            <div class="col-sm-12 pt-1">
                                                <span>Production:</span>
                                                <span class="pull-right text-right text-info font-weight-bold">
                                                    {{project.Project.ProductionType.Name}}
                                                </span>
                                            </div>
                                            <div class="col-sm-12 pt-1">
                                                <span>People interested:</span>
                                                <span class="pull-right text-right text-info font-weight-bold">
                                                    0
                                                </span>
                                            </div>
                                            <div class="col-sm-12 pt-1">
                                                <span>Assigned to this project:</span>
                                                <span class="pull-right text-right text-info font-weight-bold">
                                                    0
                                                </span>
                                            </div>
                                            <div class="col-sm-12 pt-1">
                                                <span>Published :</span>
                                                <span class="pull-right text-right text-info font-weight-bold">
                                                    {{project.Project.CreatedDateTime | date:"MMM dd, yyyy"}}
                                                </span>
                                            </div>
                                            <div class="col-sm-12 pt-1" ng-if="project.ProjectOwner.CompanyCountry">
                                                <span>Country :</span>
                                                <span class="pull-right text-right text-info font-weight-bold">
                                                    {{project.ProjectOwner.CompanyCountry.Name}}
                                                </span>
                                            </div>
                                            <div class="col-sm-12 pt-1" ng-if="project.ProjectOwner.CompanyCity">
                                                <span>City :</span>
                                                <span class="pull-right text-right text-info font-weight-bold">
                                                    {{project.ProjectOwner.CompanyCity.Name}}
                                                </span>
                                            </div>
                                            <div class="col-sm-12 pt-1" ng-if="project.ProjectPartnerRequirement.YourFinancialShare">
                                                <span>Owner's Share :</span>
                                                <span class="pull-right text-right text-info font-weight-bold">
                                                    {{project.ProjectPartnerRequirement.YourFinancialShare}}%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="row pr-2 pt-2">
                                            <div class="col-sm-12">
                                                <span class="material-icons" style="cursor:pointer;"
                                                      title="Close this" data-toggle="tooltip" data-placement="left" tooltip
                                                      ng-click="project.ShowProfile = !project.ShowProfile">
                                                    close
                                                </span>
                                            </div>

                                            <div class="col-sm-12" ng-if="project.ProjectOwner.UserId != $parent.currUser">
                                                <span class="material-icons" style="cursor:pointer;"
                                                      title="Send email to project owner" data-toggle="tooltip" data-placement="left" tooltip
                                                      ng-click="sendEmailToProjectOwner(project.ProjectOwner)">
                                                    mail
                                                </span>
                                            </div>
                                            <div class="col-sm-12" ng-if="project.ProjectOwner.UserId != $parent.currUser">
                                                <span class="material-icons" style="cursor:pointer;"
                                                      title="Start Chat with project owner" data-toggle="tooltip" data-placement="left" tooltip
                                                      ng-click="openChatBox(project.ProjectOwner.UserId)">
                                                    message
                                                </span>
                                            </div>
                                            @*<span class="material-icons {{project.Project.IsSaved?'text-info':'text-gray'}}" ng-click="toggleSave(project.Project)" style="cursor:pointer" title="{{project.Project.IsSaved?'Remove from saved':'Save'}}">
                                                    assignment_turned_in
                                                </span>
                                                <span class="material-icons {{project.Project.IsFavorite?'text-info':'text-gray'}}" ng-click="toggleFavorite(project.Project)" style="cursor:pointer" title="{{project.Project.IsFavorite?'Remove from favorites':'Favorite'}}">
                                                    stars
                                                </span>*@
                                            @*<div class="col-sm-12">
                                                    <span class="material-icons {{project.Project.IsFavorite?'text-info':''}}" style="cursor:pointer;"
                                                          title="{{project.Project.IsFavorite?'Remove from favorite':'Add to favorite list'}}"
                                                          ng-click="toggleFavorite(project.Project)">
                                                        stars
                                                    </span>
                                                </div>
                                                <div class="col-sm-12">
                                                    <span class="material-icons {{project.Project.IsSaved?'text-info':''}}" style="cursor:pointer;"
                                                          title="{{project.Project.IsFavorite?'Remove from saved list':'Add to saved list'}}"
                                                          ng-click="toggleSave(project.Project)">
                                                        save_alt
                                                    </span>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin:5px;" />
                                <div class="row font-13" style="padding: 0px 20px;">
                                    <div class="col-6">
                                        <a href="#" role="button" class="text-secondary">
                                            <i class="fa fa-dollar mr-1"></i> Fund this Project
                                        </a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a ui-sref="publicprojectdetail({projectId:'{{project.Project.Id}}'})" role="button" class="text-secondary pull-right">
                                            <i class="fa fa-eye"></i> View Project
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!--<div class="card box-shadow" style="height:100%">
                <div class="card-header box-shadow" ng-style="{'border-top':'5px solid '+project.Project.Color}">

                    <h3 class="card-title">
                        <span class="font-12">{{project.Project.Name}}</span>
                    </h3>
                    <div class="card-options">-->
                @*<div class="item-action dropdown ml-2">
                        <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(18px, 24px, 0px);">
                            <a href="~/PublicProjectDetail/{{project.Project.Id}}" class="dropdown-item">
                                <i class="dropdown-icon fa fa-eye"></i> View Details
                            </a>
                        </div>
                    </div>*@
                <!--<span class="font-8 text-right">
                            <i class="fa fa-map-marker"></i>
                            <span ng-if="project.ProjectOwner.City">{{project.ProjectOwner.City.Name}}</span>
                            <span ng-if="project.ProjectOwner.City && project.ProjectOwner.Country">, </span>
                            <span ng-if="project.ProjectOwner.Country">{{project.ProjectOwner.Country.Name}}</span>
                        </span>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-7 font-11">
                            {{project.Project.ProductionType.Name}}
                        </div>
                        <div class="col-md-5 text-right font-10">
                            <i class="fa fa-calendar"></i> {{project.Project.CreatedDateTime | date:"MMM dd, yyyy"}}
                        </div>
                    </div>
                    <div class="row p-1 mb-2 box-radius-5 box-shadow">
                        <div class="col-sm-12 text-center">
                            <img class="box-radius-5 mb-2 cover-photo" ng-src="/api/Projects/GetProjectCover/{{project.Project.Id}}/250/100" />-->
                @*<img class="box-radius-5 mb-2" ng-show="!project.Project.Logo" src="~/img/no-image.png" height="100px" />*@

                <!--</div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="box-radius-10" ng-src="/api/UserProfiles/GetUserPhoto/{{project.ProjectOwner.UserId}}/50/50" width="100" />
                                </div>
                                <div class="col-sm-8">
                                    <p class="font-weight-bold font-10 m-0">
                                        {{project.ProjectOwner.FirstName}} {{project.ProjectOwner.LastName}}
                                    </p>
                                    <p class="font-10">
                                        {{project.ProjectOwner.CompanyPosition.Name}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-8 text-right">
                                    <p class="font-weight-bold font-10 m-0">
                                        {{project.ProjectOwner.CompanyName}}
                                    </p>
                                    <p class="font-10">
                                        {{project.ProjectOwner.CompanyType.Name}}
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <img class="box-radius-10" ng-src="/api/UserProfiles/GetUserCompanyPhoto/{{project.ProjectOwner.UserId}}/50/50" width="100" />
                                </div>
                            </div>
                        </div>


                        <div class="row font-11">
                            <div class="col-sm-12 mb-2" ng-if="showProjectOwnerLooking(project)">
                                <div class="col-sm-12"><b>Project owner is looking for:</b></div>
                                <div class="col-sm-12" ng-if="project.ProjectPartners.length>0">
                                    <i class="fa fa-check text-green"></i> Project Partner
                                </div>
                                <div class="col-sm-12" ng-if="project.ProjectPartnerRequirement.NeedFinancialParticipation">
                                    <i class="fa fa-check text-green"></i> Financial Participator
                                </div>
                                <div class="col-sm-12" ng-if="!project.ProjectPartnerRequirement.NeedFinancialParticipation && project.ProjectFunding.Amount">
                                    <i class="fa fa-check text-green"></i> Funding
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 p-2 font-10">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="col-sm-12"><strong>Budget:</strong></div>
                                    <div class="col-sm-12 overflow-ellipsis">{{project.ProjectPartnerRequirement.Budget}} {{project.Project.Currency.Symbol}}</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-12"><strong>Currency:</strong></div>
                                    <div class="col-sm-12 overflow-ellipsis">{{project.Project.Currency.Name}}</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-12"><strong>Length:</strong></div>
                                    <div class="col-sm-12 overflow-ellipsis">{{project.Project.ProductionLength}}</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-12"><strong>Language:</strong></div>
                                    <div class="col-sm-12 overflow-ellipsis">{{project.Project.ProductionLanguage.Name}}</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-12" ng-if="project.ProjectPartners.length>0"><strong>Partners:</strong></div>
                                    <div class="col-sm-12 overflow-ellipsis" ng-if="project.ProjectPartners.length>0">{{project.ProjectPartners.length}}</div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12 pl-2 pr-2">
                                    <div class="clearfix">
                                        <div class="float-left"><strong>{{project.ProjectPartnerRequirement.YourFinancialShare}}%</strong></div>
                                        <div class="float-right"><small class="text-muted">Owner's Share</small></div>
                                    </div>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-red" role="progressbar" style="width: {{project.ProjectPartnerRequirement.YourFinancialShare}}%" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                @*<div class="card-footer text-center">
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-pencil-square-o"></i> Apply for this Project
                        </button>
                    </div>*@
                <!--<div class="card-footer font-8" style="font-size:8px !important">
                        <a href="#" class="btn btn-success" style="font-size:8px !important; width:48%">
                            <i class="fa fa-money mr-1"></i> Fund this Project
                        </a>
                        <a href="~/PublicProjectDetail/{{project.Project.Id}}" target="_blank" class="btn btn-success pull-right" style="font-size:8px !important; width:48%">
                            <i class="fa fa-list-alt mr-1"></i> View Project
                        </a>
                    </div>
                </div>-->
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/js/ng-controllers/fundingAndFP/offer-funding-ctrl.js"></script>
}