<div class="modal-header">
    <h3 class="modal-title">Upload Videos</h3>
    <a href="javascript:void(0)" ng-click="closeModal()" class="icon d-none d-md-inline-block ml-3 text-danger" uib-tooltip="Close"><i class="fa fa-times fa-3x mr-1"></i></a>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="DashboardContainer"></div>
        </div>
    </div>
</div>
<div class="modal-footer displaynone" data-exclude="true">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <br />
    <button class="btn btn-danger" ng-click="Cancel()">Cancel</button>
</div>