<link href="~/assets/css/voting.css" rel="stylesheet" />


<style>
    .rollover:not(.no-overlay):after {
        opacity: 1
    }

    .box-screenshot .rollover img {
        opacity: 0.5;
    }

    .bg-img {
        position: relative;
        width: 100%;
    }

        .bg-img:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#28182f,#000000);
            opacity: .6;
        }

    .team-info li + li {
        margin-left: unset;
    }

    .team-info li img {
        width: 40px;
    }
</style>

<link href="~/assets/css/firework-animation.css" rel="stylesheet" />

<div class="section-body" style="max-width:1300px" ui-view=""
     ng-controller="VotingResultDetailCtrl">
    <div class="container-fluid">
        <div class="row clearfix pyro">
            <div class="before" ng-if="nomination.IsWinner"
                 style="z-index:9999"></div>
            <div class="after" ng-if="nomination.IsWinner"
                 style="z-index:9999"></div>
            <div class="col-sm-12 bg-img" style="background: url('/api/Projects/GetProjectCover/{{nomination.ProjectId}}/1000/400');
                        background-size: cover;
                        height: 400px">
                <div class="row">
                    <div class="col-sm-12 col-md-6 p-3">
                        <div class="box-left">
                            <strong class="text-white">
                                {{recentVotes.length}}
                            </strong>
                            <span class="text-x-thin text-white">User<span ng-if="recentVotes.length>1">s</span> voted</span>
                            <div class="text-white" ng-if="nomination.IsWinner">
                                <span class="font-weight-bold">This project is winner</span>
                                <i class="fa fa-trophy font-20 pl-1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 p-3 text-right">
                        <ul class="list-unstyled team-info lg margin-0">
                            <li ng-repeat="follower in followers" class="cursor-pointer"
                                ui-sref="professionaldetails({userId:'{{follower}}'})">
                                <img src="/api/UserProfiles/GetUserPhoto/{{follower}}/140/140" alt="Avatar">
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 text-center">
                        <h1 class="heading-large text-white">
                            {{nomination.ProjectName}}
                        </h1>
                        <div class="row justify-content-center mb-3 text-white">
                            <div class="by">
                                by <strong>

                                    <a ui-sref="professionaldetails({userId:'{{nomination.UserId}}'})">
                                        {{nomination.UserName}}
                                    </a>
                                </strong> <i>from</i> <strong>{{nomination.Location}}</strong> with <strong>{{nomination.AverageScore.toFixed(2)}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-auto">
                        <div class="flex-center" style="justify-content:center">
                            <div class="progress-wrapper text-center" style="width:130px"
                                 ng-repeat="param in nomination.FinalVoteDetails">
                                <div class="progress justify-content-center w-100"
                                     style="top: 27px; color:{{progressColors[$index]}}; font-size: 25px; height:unset; background:none">
                                    {{param.Score.toFixed(0)}}
                                </div>
                                <div class="progress justify-content-center w-100 p-1"
                                     style="top: 90px; font-size: 15px; height:unset; background:none">
                                    {{param.VotingParameter.Name}}
                                </div>
                                <div class="round-progress-wrapper"
                                     round-progress
                                     max="10"
                                     current="param.Score"
                                     color="{{progressColors[$index]}}"
                                     bgcolor="transparent"
                                     radius="40"
                                     stroke="4"
                                     semi="false"
                                     rounded="true"
                                     clockwise="true"
                                     responsive="false"
                                     duration="1000"
                                     animation="easeInOutQuart"
                                     animation-delay="200"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="position:absolute; bottom:15px; left:15px">
                        <div class="list-share-circles style2 light left">
                            <ul class="active m-0" ng-show="showShocial">
                                <li>
                                    <div class="bt-circle bt-facebook popup" ng-click="openFaceBookSharer()">
                                        <i class="fa fa-facebook text-white"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="bt-circle bt-twitter popup" ng-click="openTwitterSharer()">
                                        <i class="fa fa-twitter text-white"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="bt-circle bt-pinterest popup" ng-click="openPinterestSharer()">
                                        <i class="fa fa-pinterest text-white"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="bt-circle bt-linkedin popup" ng-click="openLinkedinSharer()">
                                        <i class="fa fa-linkedin text-white"></i>
                                    </div>
                                </li>
                            </ul>
                            <div class="bt-circle bt-share js-social" ng-click="showShocial = !showShocial">
                                <span class="material-icons text-white">
                                    share
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p-0">
                <div class="card"
                     style="border-top-left-radius:0px; border-top-right-radius:0px">
                    <div class="card-body">
                        <div class="row d-block d-sm-none d-md-none d-lg-none d-xl-none">
                            <div class="col-sm-12 col-md-8">
                                <h2>
                                    {{nomination.ProjectName}}
                                </h2>
                            </div>
                            @*<div class="col-sm-12 col-md-4 text-right">
                            <span><b>{{remainingTime[0].days}}</b> DAYS  <b>{{remainingTime[0].hours}}</b> HOURS  <b>{{remainingTime[0].minutes}}</b> MIN</span>
                            <i class="fa fa-clock-o"></i>
                        </div>*@
                        </div>
                        <div class="row d-block d-sm-none d-md-none d-lg-none d-xl-none">
                            <div class="col-12">
                                by
                                <strong>
                                    <a href="/studiofreight/">{{nomination.UserName}}</a>
                                </strong>
                                <i>from</i> {{nomination.Location}} with <strong>{{nomination.AverageScore.toFixed(2)}}</strong>
                            </div>
                        </div>
                        <hr class="d-block d-sm-none d-md-none d-lg-none d-xl-none" />
                        <div class="row">
                            <div class="col-12">
                                <p>{{nomination.ProjectDetail}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mt-3 p-0">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            User Votes ({{recentVotes.length}})

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row border-bottom pb-2" ng-repeat="vote in recentVotes">
                            <div class="col-sm-12 col-md-9">
                                <img class="rounded-circle p-2 cursor-pointer" ui-sref="professionaldetails({userId:'{{vote.UserVotedId}}'})"
                                     src="/api/UserProfiles/GetUserPhoto/{{vote.UserVotedId}}/60/60">
                                <span class="ml-2">
                                    <a ui-sref="professionaldetails({userId:'{{vote.UserVotedId}}'})">
                                        {{vote.UserVotedName}}
                                    </a>
                                    <i ng-if="vote.UserVotedLocation">from</i> {{vote.UserVotedLocation}}
                                </span>
                            </div>
                            <div class="col-sm-12 col-md-3 my-auto">
                                <div class="flex-center">
                                    <div class="progress-wrapper"
                                         ng-repeat="param in vote.FinalVoteDetails"
                                         title="{{param.VotingParameter.Name}}"
                                         data-toggle="tooltip"
                                         data-placement="top" tooltip>
                                        <div class="progress"
                                             style="top: 13px; color:{{progressColors[$index]}}; left: 15px; font-size: 15px; background:none">
                                            {{param.Score}}
                                        </div>
                                        <div class="round-progress-wrapper"
                                             round-progress
                                             max="10"
                                             current="param.Score"
                                             color="{{progressColors[$index]}}"
                                             bgcolor="transparent"
                                             radius="20"
                                             stroke="1"
                                             semi="false"
                                             rounded="true"
                                             clockwise="true"
                                             responsive="false"
                                             duration="1000"
                                             animation="easeInOutQuart"
                                             animation-delay="200"></div>
                                    </div>
                                    <div class="col">
                                        <h3 class="m-auto">{{vote.TotalScore.toFixed(2)}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

